.form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-icon-img {
    height: 60px;
    margin-bottom: 3em;
}

.secondary-form-input {
    background-color: white;
    text-align: center  !important;
    border-radius: 24px;
    height: 36px !important;
}

.secondary-form-input:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 2px #8DD3D9;
}

.MuiSlider-marklabel-40, .MuiSlider-markLabelActive-41, .MuiSlider-markLabel-17, .MuiSlider-markLabelActive-18 {
    color: rgba(86, 141, 179, 0.5) !important;
}