@font-face {
  font-family: 'Dalton Maag';
  src: local('Dalton Maag'), url('./assets/font/Dalton Maag - Objektiv Mk1.ttf') format('truetype');
}

body {
  background-color: #1e3757;
  color: white;
  font-family: 'Dalton Maag';
}

.container {
  position: relative;
  z-index: 1;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  margin-left: -45em;
  min-width: 50%;
  min-height: 50%;
}

@media only screen and (min-width: 768px) {
  .bg img {
    margin-left: -25em;
  }
}

@media only screen and (min-width: 992px) {
  .bg img {
    margin-left: 0;
  }
}

